---
import Card from '@components/Card.astro'
import BaseBlog from '@layouts/BaseBlog.astro'

import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'

const blogEntries = await getCollection('blog')

interface Props {
  blogPostEntry: CollectionEntry<'blog'>
}
---

<BaseBlog title="Blog">
  <h1 class="text-4xl font-bold">Blog Posts</h1>
  <div class="my-6"></div>
  {
    blogEntries.map((blogPostEntry) => (
      <>
        <Card
          type="blog"
          title={blogPostEntry.data.title}
          href={blogPostEntry.slug}
          body={blogPostEntry.data.metadata.excerpt}
        />
        <div class="my-6" />
      </>
    ))
  }
</BaseBlog>
