---
import Logo from './Logo.astro'
---

<footer class="flex h-28 flex-col items-center justify-center gap-y-6">
  <nav class="flex justify-center">
    <ul class="flex gap-x-2">
      <li class="text-sm hover:opacity-70">
        <a href="/">Home</a>
      </li>
      <li class="text-sm hover:opacity-70">
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
  <span class="flex items-center">
    <span
      class="bg-gradient-to-b from-[#4f39fa] to-[#da62c4] bg-clip-text font-bold text-transparent"
      >Siniliote</span
    >&nbsp;(sferey)
  </span>
</footer>
