---
import '@assets/styles/global.css'

const defaultTitle = 'Mon projet'
const defaultDescription = 'Un projet qui regroupe toute mon expérience'

import default_image from '@assets/images/default_image.jpeg'
const defaultImage = default_image.src

const { title, description, imageUrl } = Astro.props
---

<!-- HTML Meta Tags -->
<title>{title || defaultTitle}</title>
<meta name="description" content={description || defaultDescription} />

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content={title || defaultTitle} />
<meta itemprop="description" content={description || defaultDescription} />
<meta itemprop="image" content={imageUrl || defaultImage} />

<!-- Favicon Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/favicon/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/favicon/favicon-16x16.png"
/>
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
