---
import { ForwardArrowIcon } from '@configs/icons'
import { info } from '@data'

interface Props {
  bodyText: string
}

const { bodyText } = Astro.props
---

<section class="prose mt-24 lg:prose-xl">
  <h3
    class="mb-8 w-fit border-b border-b-slate-200 text-2xl text-fore-primary md:text-3xl">
    À propos de moi
  </h3>
  {
    info.aboutMe.map((item) => (
      <div class="mb-8 space-y-4 text-fore-primary" set:html={item} />
    ))
  }
</section>
