---
import Footer from '@components/Footer.astro'
import Metadata from '@components/Metadata.astro'
import Navigation from '@components/Navigation.astro'
const { title, description, imageUrl } = Astro.props
import { ViewTransitions } from 'astro:transitions'
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <Metadata title={title} description={description} imageUrl={imageUrl} />

    <ViewTransitions />
  </head>
  <body class="bg-zinc-100">
    <div class="border-b bg-white p-2 text-center text-sm">
      Le code source de ce projet est{' '}
      <a
        href="https://github.com/Siniliote/my-project"
        target="_blank"
        class="underline transition-colors hover:text-blue-600">
        disponible sur GitHub</a
      >.
    </div>
    <Navigation />
    <main
      class="mx-auto my-12 flex min-h-screen max-w-3xl flex-col px-3 lg:px-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
